//BLOCK 10 portofolio gallery //BLOCK 11 Certificates //BLOCK12 Feedback

.section-portofolio, .section-certificates, .section-feedback {
  padding: 3em 0;
  .section-body {
    margin-top: 3em;
  }
}

.section-portofolio {
  .gallery-unit {
    margin-bottom: 2em;
  }
}

.section-certificates {
  .certificate {
    max-width: 140px;
    margin: 0 auto 2em;
    background-size: cover;
    .spacer {
      padding-top: 142%;
    }
  }
}

.section-feedback {
  $color-feedback: #555555;
  .feedback-list {
    padding-left: 15%;
  }
  .feedback-unit {
    font-size: 1.2em;
    position: relative;
    font-weight: 300;
    margin-bottom: 2em;
    color: $color-feedback;
    min-height: 4em;
    .author {
      text-transform: uppercase;
      font-weight: 600;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 10%;
      padding-top: 10%;
      background-size: cover;
      top: 0;
      left: -15%;
    }
    &:nth-child(1) {
      &::before {
        background: url("../img/ava1.jpg") no-repeat center;
      }
    }
    &:nth-child(2) {
      &::before {
        background: url("../img/ava2.jpg") no-repeat center;
      }
    }
    &:nth-child(3) {
      &::before {
        background: url("../img/ava3.jpg") no-repeat center;
      }
    }
  }
  .form-feedback {
    .header-form, .form-sub-header {
      text-align: center;
    }
    .header-form {
      color: $brand-danger;
      font-weight: 400;
      margin-bottom: 0;
    }
    .form-sub-header {
      color: $my-black;
      margin-bottom: 1.5em;
    }
    max-width: 350px;
    margin: 0 auto;
    .inner-addon {
      position: relative;
    }
    input {
      height: 3em;
      width: 100%;
    }
    .input[type="text"], textarea {
      color: $my-lightgray;
    }
    textarea {
      &:focus {
        border-color: lightgray;
        box-shadow: none;
      }
    }
    .inner-addon .ion {
      position: absolute;
      pointer-events: none;
      height: 1em;
      font-size: 2em;
      padding: 7px;
      line-height: normal;
      color: $nav-bg;
    }
    .left-addon {
      .ion {
        left: .2em;
      }
    }
    .right-addon {
      .ion {
        right: 0;
      }
    }
    .left-addon, .left-addon {
      input, textarea {
        padding-left: 3em;
      }
    }
    .right-addon {
      input {
        padding-right: 30px;
      }
    }
  }
  .form-contact {
    margin-top: 2em;
  }
}